@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Pagina*/
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

/* Paleta de cores*/
:root {
    --verde-color: #B5C18E;
    --marromEscuro-color: #914F1E;
    --marromMedio-color: #DEAC80;
    --marromClaro-color: #F7DCB9;
    --fonte-primaria: "Noto Sans", sans-serif;
}

/* Logo, barra e icones*/
.logoBarraIcones {
    display: flex;
    background-color: var(--marromMedio-color);
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

/* Logo da pagina*/
.logoImagem img {
    width: 120px;
    height: 109px;
    padding-top: 20px;
    padding-left: 100px;
    padding-bottom: 20px;
}

/* Barra de pesquisa*/
.buscaBox {
    background-color: white;
    width: 700px;
    height: 1%;
    overflow: hidden;
    display: flex;
    border-radius: 15px;
    border: 1px solid;
}

.buscaBox .lupaBusca,
.buscaBox .btnFecha {
    min-width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buscaBox .inputBusca i {
    font-size: 35px;
}

.inputBusca {
    width: 400px;
}

.buscaBox .inputBusca {
    left: 80px;
    line-height: 50px;
}

.buscaBox .inputBusca input {
    border: 0;
    outline: 0;
    font-size: 20px;
    width: 130%;
    background-color: white;
}

/* Todos icones*/
.telCarPerf {
    display: flex;
    align-items: center;
}

.telCarPerf img {
    padding-right: 20px;
}

/* Telefone*/
.telefone img {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    padding-left: 15px;
}

.telefone a {
    color: black;
}

/* Carrinho de compras*/
.carrinhoCompras img {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}

.carrinhoCompras a {
    color: black;
}

/* Icone perfil*/
.iconePerfil a {
    color: black;
}

.iconePerfil {
    display: flex;
    align-items: center;
}

.iconePerfil img {
    width: 35px;
    height: 35px;
}

.textoPerfil {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100px;
    font-family: var(--fonte-primaria);
    font-size: medium;
    font-weight: 600;
}

.textoPerfil :hover {
    color: var(--marromEscuro-color);
    transform: scale(1.07);
    transition: 0.3s;
}

.textoPerfil a {
    text-decoration: none;
    color: white;
}

.juntaTextoIcone {
    display: flex;
    height: 50px;
    width: 150px;
}

/* Menu de opções*/
.menuOpcoes {
    display: flex;
    background-color: var(--marromMedio-color);
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    padding-bottom: 10px;
}

.menuOpcoes a {
    text-decoration: none;
    color: white;
    font-family: var(--fonte-primaria);
    font-size: medium;
    font-weight: 600;
}

.menuOpcoes a:hover {
    color: var(--marromEscuro-color);
    text-decoration: overline solid 2px;
}

/* Cadastro do usuário*/
.displayGeral {
    width: 80%;
    height: 80vh;
    display: flex;
    padding: 100px;
    font-family: var(--fonte-primaria);
}

.formQuadrado {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--marromEscuro-color);
    padding: 1rem;
}

.formQuadrado img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.formCabecalho {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.botaoLogin {
    display: flex;
    align-items: center;
}

.botaoLogin button {
    border: none;
    background-color: var(--marromEscuro-color);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.botaoLogin button:hover {
    background-color: var(--marromEscuro-color);
}

.botaoLogin button a {
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.formCabecalho h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: var(--marromEscuro-color);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.inputGrupo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.inputCaixa {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.inputCaixa input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.inputCaixa input:hover {
    background-color: #eeeeee75;
}

.inputCaixa input:focus-visible {
    outline: 1px solid var(--marromEscuro-color);
}

.inputCaixa label,
.generoTitulo h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.inputCaixa input::placeholder {
    color: #000000be;
}

.generoGrupo {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.generoInputs {
    display: flex;
    align-items: center;
}

.generoInputs input {
    margin-right: 0.35rem;
}

.generoInputs label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.botaoContinuar button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: var(--marromEscuro-color);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.botaoContinuar button:hover {
    background-color: var(--marromEscuro-color);
}

.botaoContinuar button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: white;
}

.generoInput{
    padding-left: 5px;
}

@media screen and (max-width: 1330px) {
    .formQuadrado {
        display: none;
    }
    .displayGeral {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .displayGeral {
        width: 90%;
        height: auto;
    }
    .inputGrupo {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .generoInputs {
        margin-top: 2rem;
    }
    .generoGrupo {
        flex-direction: column;
    }
    .generoTitulo h6 {
        margin: 0;
    }
    .generoInput {
        margin-top: 0.5rem;
    }
}
/* Footer da pagina*/
.footerPrincipal {
    background-color: var(--marromClaro-color);
    height: 300px;
}

.footerPrincipal img {
    width: 50px;
    padding-top: 20px;
    padding-left: 10px;
}

.faleConosco {
    display: flex;
    flex-direction: row-reverse;
}

.faleConosco p {
    color: var(--marromEscuro-color);
    font-family: var(--fonte-primaria);
    padding-right: 20px;
    padding-bottom: 30px;
}

.faleConosco a {
    text-decoration: none;
}

.faleConosco a:hover {
    transition: 0.25s;
    transform: scale(1.2);
}

.direitosReservadosFooter {
    display: flex;
    justify-content: center;
    padding-top: 130px;
    color: var(--marromEscuro-color);
    font-family: var(--fonte-primaria);
}